.container {
  padding: 8px;
  border-radius: 8px;
  color: var(--color-gray-50);
  transition: background-color 0.25s;
}

.primary {
  background-color: var(--color-primary);
}

.secondary {
  background-color: var(--color-secondary);
}

.container:disabled {
  background-color: var(--color-gray-600);
}
