.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.ground {
  width: 300vw;
  height: 300vw;
  position: absolute;
  top: 100%;
  left: calc(50% - 150vw);
  background-color: var(--color-gray-50);
  border-radius: 150vw;
  transform: translateY(-20dvh);
}

.header {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
}

.timer-wrapper {
  position: absolute;
  z-index: 3;
  right: 0;
  top: 110%;
}

.timer {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    var(--color-primary-0) 0%,
    var(--color-primary-80) 20%,
    var(--color-primary) 100%
  );
  padding: 8px;
  padding-left: 24px;
  border-radius: 0 0 8px 0;
  color: var(--color-secondary-dark);
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-wrapper {
  position: relative;
  z-index: 2;
  width: 250px;
  flex-grow: 1;
  flex-shrink: 1;

  & > img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.card-wrapper {
  position: absolute;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: transform 0.25s;

  & > img {
    width: 100%;
    height: 100%;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.button-box {
  position: relative;
  z-index: 1;
  width: 100%;
  flex: 20dvh 0 0;
  display: flex;
  flex-direction: column-reverse;
  padding: 16px;
  gap: 16px;
}

.arrow-button-box {
  position: absolute;
  z-index: 3;
  left: 0;
  bottom: calc(50% - 20px);
  width: 100%;
  padding: 16px;

  button {
    position: absolute;
    box-shadow: 0 0 4px var(--color-gray-400);
    top: 0;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--color-gray-50);

    &.prev {
      left: 16px;
    }

    &.next {
      right: 16px;
    }
  }
}

.card1 {
  top: 150px;
  left: 30px;
}

.card2 {
  top: 150px;
  left: 140px;
}

.card3 {
  top: 250px;
  left: 0px;
}

.card4 {
  top: 250px;
  left: 85px;
}

.card5 {
  top: 250px;
  left: 170px;
}
